<template>
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <nuxt-link class="navbar-brand" to="/">VisaCheck</nuxt-link>
        <button class="navbar-toggler" type="button" data-target="#navbarContent" aria-label="Toggle navigation" aria-controls="navbarContent" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Сервисы
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Сервис 1</a></li>
                <li><a class="dropdown-item" href="#">Сервис 2</a></li>
                <li><a class="dropdown-item" href="#">Сервис 3</a></li>
              </ul>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>
