<template>
  <div class="search-widget">

    <div class="popular" v-if="$store.state.search.popular.length > 0">
      <span class="popular__title">Популярное:</span>
      <template v-for="(item, idx) in $store.state.search.popular">
        <nuxt-link class="popular__option" :key="idx" :to="{ name: 'countries-slug', params: { slug: item.slug }}">
          {{ item.name }}
        </nuxt-link>
      </template>
    </div>

    <!-- <div class="popular" v-if="popular.length > 0">
      <span class="popular__title">Популярное:</span>
      <template v-for="(item, idx) in popular">
        <nuxt-link class="popular__option" :key="idx"
          :to="{ name: 'countries-slug', params: { slug: item.slug }}"
        >{{ item.name }}</nuxt-link>
      </template>
    </div>
    <SearchBox/>
    <div class="map-view">
      <button class="map-view__button btn btn-lg" type="button">
        Посмотреть на карте
      </button>
    </div> -->

  </div>
</template>

<script>
import SearchBox from '~/components/SearchBox'

export default {
  components: {
    SearchBox,
  },
  mounted() {
    console.log(this.$store)
  }
}
</script>

<style lang="scss" scoped>
.popular {
  display: flex;

  &__title {
    color: $white;
  }

  &__option {
    color: rgba($white, .5);
    margin-left: map-get($spacers, 1);
    margin-bottom: map-get($spacers, 3);
    text-decoration: none;

    &:not(:last-child) {
      &:after {
        content: ",";
        color: rgba($white, .5);
      }
    }

    &:hover {
      color: $white;
    }
  }
}

.map-view {
  display: flex;
  margin-top: map-get($spacers, 3);

  &__button {
    color: $white;
    margin-left: auto;
    background: lighten($danger, 15%);

    &:hover {
      background: lighten($danger, 5%);
    }
  }
}
</style>
