<template>
  <div class="search-box">
    <div class="search-form">
      <label class="search-form__label" for="search_form_input">Куда:</label>
      <input class="search-form__input" id="search_form_input" type="text"
        :placeholder="`например, ${$store.getters['search/randomPopular']}`"
        v-model="query"/>
      <button class="search-form__button" type="button">
        <span class="search-form__button-icon">
          <ArrowRight/>
        </span>
      </button>
    </div>
    <div class="suggestions" v-if="query !== ''">
      <template v-if="$store.search.suggestions.length === 0">
        <span class="suggestions__empty">Совпадений не найдено</span>
      </template>
      <template v-else>
        <ul class="suggestions__list">
          <template v-for="(item, idx) in $store.search.suggestions">
            <li class="suggestions__list-item" :key="idx">
              <div class="suggestion">
                <nuxt-link class="suggestion__link"
                  :to="{ name: 'countries-slug', params: { slug: item.slug }}"/>
                <div class="suggestion__cover" :style="getThumbnail(item)"></div>
                <span class="suggestion__name">{{ item.name }}</span>
              </div>
            </li>
          </template>
        </ul>
      </template>
    </div>
  </div>
</template>

<script>
import ArrowRight from '~/components/icons/ArrowRight'

export default {
  components: {
    ArrowRight,
  },
  props: {
    popularDestinations: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      query: ''
    }
  },
  computed: {
    randomPopularDestination: {
      cache: false,
      get() {
        const items = this.popularDestinations
        return items.length != 0 ?
          items[Math.floor(Math.random() * items.length)]
          : 'Антигуа'
      },
    },
  },
  methods: {
    getThumbnail(item) {
      if (item.thumbnail) {
        return {
          'background-image': `url(${item.thumbnail})`
        }
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.search-box {
  height: 70px;
  position: relative;
}

.search-form,
.suggestions {
  background: $white;
  border-radius: 4px;
}

.search-form {
  height: 100%;
  padding: 0 map-get($spacers, 4);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input,
  &__button {
    border: none;
    outline: none;
  }

  &__label {
    font-weight: $font-weight-bolder;
  }

  &__input {
    margin: 0 map-get($spacers, 2);
    flex-grow: 1;

    &::placeholder {
      color: $gray-500;
    }
  }

  &__button {
    color: $gray-600;
    background: transparent;

    svg {
      width: 2em;
      height: 2em;
    }
  }
}

.suggestions {
  padding: map-get($spacers, 4) 0;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;

  &__list {
    margin: 0;
    padding: map-get($spacers, 2) 0;
    list-style: none;

    &-item {
      position: relative;
      padding:
        map-get($spacers, 2)
        map-get($spacers, 4);

      &:hover {
        background-color: rgba($warning, .5);
      }
    }
  }
}

.suggestion {
  display: flex;
  align-items: center;

  &__link {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__cover {
    width: 42px;
    height: 42px;
    background-size: cover;
    background-position: 50% 50%;
  }

  &__name {
    margin-left: map-get($spacers, 3);
  }

  &__regime {
    color: $primary;
    border: 1px solid $primary;
    margin-left: auto;
    border-radius: 50px;
    padding:
      map-get($spacers, 1)
      map-get($spacers, 3);
  }
}
</style>
