<template>
  <div class="search">

    <div class="search__block search__block--popular popular">
      <span class="popular__title">Популярное:</span>
      <ul class="popular__list">
        <template v-for="item in $store.state.search.popular">
          <li class="popular__list-item" :key="item.name">
            <nuxt-link class="popular__list-item-link" :to="countryLink(item)">
              {{ item.name }}
            </nuxt-link>
          </li>
        </template>
      </ul>
    </div>

    <div class="search__block search__block--searchbox searchbox">
      <form class="searchbox__form" @keydown.enter.prevent="">
        <label class="searchbox__form-label" for="searchbox_input">Куда:</label>
        <input class="searchbox__form-input" id="searchbox_input" type="text" autocomplete="off"
          :placeholder="`например, ${$store.getters['search/randomPopular'].name}`"
          v-model="query"
        >
        <button class="searchbox__form-button" type="button">
          <span class="searchbox__form-button-icon">
            <ArrowRight/>
          </span>
        </button>
      </form>
      <div class="searchbox__suggestions" v-if="query !== ''">
        <template v-if="$store.state.search.suggestions.length === 0">
          <div class="searchbox__suggestions-empty">
            <span class="searchbox__suggestions-empty-message">Совпадений не найдено</span>
          </div>
        </template>
        <template v-else>
          <ul class="searchbox__suggestions-list">
            <template v-for="item in $store.state.search.suggestions">
              <li class="searchbox__suggestions-list-item" :key="item.name">
                <div class="suggestion">
                  <nuxt-link class="suggestion__link" :to="countryLink(item)"></nuxt-link>
                  <div class="suggestion__thumbnail" :style="getThumbnail(item)"></div>
                  <span class="suggestion__name">{{ item.name }}</span>
                </div>
              </li>
            </template>
          </ul>
        </template>
      </div>
    </div>

    <div class="search__block search__block--mapview mapview">
      <button class="mapview__button btn btn-lg" type="button">
        Посмотреть на карте
      </button>
    </div>

  </div>
</template>

<script>
import _ from 'lodash'

import ArrowRight from '~/components/icons/ArrowRight'

export default {
  components: {
    ArrowRight,
  },
  data() {
    return {
      query: ''
    }
  },
  watch: {
    query() {
      this.handleQueryUpdate()
    }
  },
  methods: {
    countryLink(item) {
      return {
        name: 'countries-slug',
        params: {
          slug: item.slug,
        },
      }
    },
    getThumbnail(item) {
      if (item.thumbnail) {
        return {
          'background-image': `url(${item.thumbnail})`
        }
      }
    },
    handleQueryInput() {
      this.$store.dispatch('search/fetchSuggestions', this.query)
    }
  },
  created() {
    this.handleQueryUpdate = _.throttle(this.handleQueryInput, 500)
  }
}
</script>

<style lang="scss" scoped>
.search {
  display: flex;
  flex-direction: column;

  &,
  &__block {
    width: 100%;
    margin-bottom: map-get($spacers, 3);
  }
}

.popular {
  display: flex;
  align-items: center;

  &__title {
    color: $white;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin-left: map-get($spacers, 1);

      &:first-of-type {
        margin-left: map-get($spacers, 2);
      }

      &:not(:first-of-type) {
        &:before {
          content: ",";
          color: rgba($white, .5);
        }
      }

      &-link {
        color: rgba($white, .5);
        text-decoration: none;

        &:hover {
          color: $white;
          text-shadow: 0px 0px 1px rgba($black, .1);
        }
      }
    }
  }
}

.searchbox {
  height: 70px;
  position: relative;

  &__form,
  &__suggestions {
    background: $white;
    border-radius: 4px;
  }

  &__form {
    height: 100%;
    padding: 0 map-get($spacers, 4);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-input,
    &-button {
      border: none;
      outline: none;
    }

    &-label {
      font-weight: $font-weight-bolder;
    }

    &-input {
      margin: 0 map-get($spacers, 2);
      flex-grow: 1;

      &::placeholder {
        color: $gray-500;
      }
    }

    &-button {
      color: $gray-600;
      background: transparent;

      svg {
        width: 2em;
        height: 2em;
      }
    }
  }

  &__suggestions {
    padding: map-get($spacers, 4) 0;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    overflow-y: scroll;

    &-empty,
    &-list {
      width: 100%;
    }

    &-empty{
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-message {
        color: rgba($black, .75);
      }
    }

    &-list {
      height: 100%;
      margin: 0;
      padding: map-get($spacers, 2) 0;
      list-style: none;

      &-item {
        position: relative;
        padding:
          map-get($spacers, 2)
          map-get($spacers, 4);

        &:hover {
          background-color: rgba($warning, .5);
        }

        .suggestion {
          display: flex;
          align-items: center;

          &__link {
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }

          &__thumbnail {
            width: 42px;
            height: 42px;
            background-size: cover;
            background-position: 50% 50%;
          }

          &__name {
            margin-left: map-get($spacers, 2);
          }
        }
      }
    }
  }
}
</style>
