<template>
  <div class="layout">
    <Header/>
    <Content><nuxt/></Content>
    <Footer/>
  </div>
</template>

<script>
import Header from '~/components/layout/Header'
import Footer from '~/components/layout/Footer'
import Content from '~/components/layout/Content'

export default {
  components: {
    Header,
    Footer,
    Content,
  }
}
</script>

<style lang="scss">
html,
body,
.layout,
#__nuxt,
#__layout {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;

  & .content {
    flex: 1;
  }
}
</style>
