<template>
  <div class="layout">
    <Content><nuxt/></Content>
  </div>
</template>

<script>
import Content from '~/components/layout/Content'

export default {
  components: {
    Content,
  }
}
</script>

<style lang="scss">
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
</style>

<style lang="scss" scoped>
.layout {
  height: 100%;
}
</style>
