<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="message">
          <template v-if="error.statusCode === 404">
            <h1 class="message__title">Такой страницы нет</h1>
            <p class="message__backurl">
              Вернуться на <nuxt-link to="/">главную</nuxt-link> страницу
            </p>
          </template>
          <template v-else>
            <h1 class="message__title">У нас тут неизвестная ошибка</h1>
            <p class="message__subtitle">
              В ближейшее время мы исправим ошибку и все заработает.
            </p>
            <p class="message__backurl">
              Вернуться на <nuxt-link to="/">главную</nuxt-link> страницу
            </p>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  props: ['error'],
}
</script>

<style lang="scss" scoped>
.container {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
</style>
