<template>
  <div class="page">
    <div class="hero">
      <div class="hero__cover"></div>
      <div class="hero__content">
        <div class="container">
          <div class="message">
            <h1 class="message__title">Визовые режимы стран мира</h1>
            <p class="message__subtitle">
              Изучайте правила въезда, типы виз и возможные ограничения, путешествуйте без границ
            </p>
          </div>
          <Search/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Search from '~/components/Search'

export default {
  components: {
    Search,
  },
  async fetch() {
    await this.$store.dispatch('search/fetchPopular')
  }
}
</script>

<style lang="scss" scoped>
.hero {
  height: 100vh;
  position: relative;;

  &__cover,
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cover {
    background-size: cover;
    background-image: url('~assets/images/hero.jpg');
  }

  &__content {
    &,
    & > .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container {
      flex-direction: column;
      padding-bottom: map-get($spacers, 5);
    }
  }

  .message {
    text-align: center;
    margin-bottom: map-get($spacers, 5);

    &__title,
    &__subtitle {
      color: $white;
    }

    &__title {
      font-weight: $font-weight-bolder;
      @include font-size(4em);
    }

    &__subtitle {
      @include font-size(1.25em);
    }
  }

  .search-widget {
    width: 100%;
    max-width: 800px;
  }
}
</style>
